.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

.label {
  width: 350px;
  box-sizing: border-box;
}

.box {
  background-color: #ebf0ff;
  padding: 30px;
  border-radius: 20px;

}

/* Add this CSS in your global stylesheet or within a style tag in your component */
::-webkit-scrollbar {
  width: 10px; /* Adjust the width as needed */
}

::-webkit-scrollbar-track {
  background: transparent; /* Set scrollbar track color to transparent */
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2); /* Set scrollbar thumb color with transparency */
  border-radius: 5px; /* Optionally, add border-radius */
}
