.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

.label {
  width: 350px;
  box-sizing: border-box;
}

.box {
  background-color: #ebf0ff;
  padding: 30px;
  border-radius: 20px;

}